<a href="https://colab.research.google.com/github/kee1bo/vertical_farming/blob/main/crop_yield.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install opendatasets --quiet

In [26]:
%matplotlib inline
import opendatasets as od
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
donwload_url = 'https://www.kaggle.com/midouazerty/work-for-parmavir'
file = od.download(donwload_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: keeibo
Your Kaggle Key: ··········
Downloading work-for-parmavir.zip to ./work-for-parmavir

100%|██████████| 4.95M/4.95M [00:00<00:00, 28.1MB/s]

In [7]:
df = pd.read_csv('/content/work-for-parmavir/cubes.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0  Cube ID  ...  Humidity Layer A       Humidity Layer B
0           0       49  ...               NaN                    NaN
1           1       95  ...               NaN                    NaN
2           2       48  ...               NaN                    NaN
3           3       55  ...               NaN  8.594411333817883g/m3
4           4       90  ...               NaN                    NaN

[5 rows x 8 columns]

# Exploratory Analysis
  - Let's start with the Exploratory Analysis, because we seem to have a very large number of missing values.
  - It should also help us to identify why they are missing and how does that impact our model, if I can try to come up with one that is .
  - We seem to have 400287 rows × 8 columns.
  - Out of the 8 Coulmns, which we deem to be important, let's try to arrange them in the order of missing values.

In [16]:
df.isnull().sum()

Unnamed: 0                  0
Cube ID                     0
Timestamp                   0
Temperature Layer A    281051
Temperature Layer B    282207
Door                   394714
Humidity Layer A       395731
Humidity Layer B       395744
dtype: int64

#Missing Values
- There seems to be quite a lot of missing values in all the layers that we need to try and make sense of the data, like try to predict the yield in varying temperatures and also how the humidity affects the crop yield.
- As we can see above, there approximamtely same number of missing values in temperature layers and the humidity layer.
- Maybe we can filter out the missing values, or before that let's try and see if there is any unique reason, like, rows with the same number of ID's which might affect the missing values.
- So let's check the unique values in Cube ID, Timestamp and the Unamed column.

In [17]:
df.nunique()

Unnamed: 0             400287
Cube ID                   100
Timestamp              347621
Temperature Layer A    119236
Temperature Layer B    118080
Door                        2
Humidity Layer A         4556
Humidity Layer B         4543
dtype: int64

In [18]:
df.groupby('Cube ID').nunique()

         Unnamed: 0  Timestamp  ...  Humidity Layer A  Humidity Layer B
Cube ID                         ...
0              4040       4035  ...                46                46
1              4036       4032  ...                47                45
2              4047       4042  ...                46                46
3              4042       4037  ...                46                46
4              4033       4030  ...                47                46
...             ...        ...  ...               ...               ...
95             4039       4037  ...                46                48
96             4040       4035  ...                47                45
97             4043       4041  ...                46                47
98             4039       4035  ...                46                45
99             4044       4042  ...                47                47

[100 rows x 7 columns]

In [27]:
time_stamp = np.sort(df['Timestamp'].unique())